#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1{
  text-align: center;
}

.item{
  text-align: right;
  position: static;
}

.butSave{
  color: blue;
  background-color:white;
}
.buton{
  display: flex;
  color: white;
  background-color: red;  
  border-color: red;
  margin-top:10px;
}

.buton:hover{
  background-color: greenyellow;
  border-color: black;
  color: black;
}

.contenedor{
  columns: 2;
  column-gap: 20px;
  padding: 5px;
}

.padreContenedor{
  columns: 2;
  column-gap: 10px;
}

.butSave{
  display: flex;
  color: white;
  background-color: green;  
  border-color: green;
  margin-top:20px;
}



